*{
box-sizing:border-box;
}
body{
font-size:20px;
}
nav{
text-align:center;
padding:14px 16px;
margin:20px;
display:block;
}
nav a{
text-decoration:none;
color:black;
padding:10px;
word-spacing:1px;
}
.home{
display:flex;
align-items:center;
justify-content:center;
background:url("white-t-shirt-1584031440.jpg") no-repeat;
background-position:center;
background-size:cover;
padding-top:17rem;
padding-bottom:5rem;
}
.home .content{
text-align:center;
width:60rem;
}
.home .content h1{
color:black;
font-size:3rem;
}
.home .content h1 span{
color:blue;
}
@media(max-width:768px){
.material-icons menu{
display:inline-block;
}
} 
.table{
font-size:20px;
}
.table{
padding-top:10rem;
display:flex;
margin-left:30px;
}
.container-fluid{
padding-top:7rem;
float:center;
}
.table1{
display:none;
}
.container-fluid{
list-style-type:none;
}
.container-fluid li{
margin:10px;
}
.container-fluid li a{
text-decoration:none;
color:black;
}
input type{
width:300px;
}
button{
background-color:black;
color:white;
}
footer{
text-align:center;
font-size:20px;
padding:30px;
}
footer span{
color:red;
}
@media and (max-width:768px){
nav{
width:100%;
}
}